@import url(https://fonts.googleapis.com/css?family=Barlow);

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    background-color:  rgb(108, 183, 211);
}

.front {
    display: block;
    width: 100%;
    height:fit-content;
    margin-top: -1vw;
    margin-bottom: -1vw;
    background-image: url("heroImg2.png");
    background-size: cover;
    padding-bottom: 10%;
    padding-top: 8%;
    text-align: center;

}

.clubtitle{
    position: sticky;
    overflow: hidden;
}

h1 {
    font-family: "Barlow";
    font-size: 8vw;
    color:rgb(255, 255, 255);
    /*background: linear-gradient(to bottom, rgb(0, 56, 77),rgb(108, 183, 211) ); 
    background-clip: text; 
    color: transparent;*/
}



.sec1 {
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    background-color: rgb(0, 56, 77);
    padding: 5vw;
    margin-top: -6vw;
    margin-left: -10px;
    margin-right: -10px;
    height:fit-content;
    position: relative;
    overflow: hidden;
}

.sec1Img {

    width: 100%;
    align-content: center;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin-bottom: 30px;
    padding-bottom: 5vw;
}

.sec1text {
    font-family: "Barlow";
    position: absolute;
    top: 5%;
    right: 2%;
    color: white;
    text-align: right;
    z-index: 2;
    padding-top: 100px;
    padding-bottom: 41vw;
    padding-left: 550px;
    padding-right: 120px;
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0), rgba(0, 56, 77, 0.5), rgb(0, 56, 77));
    border-radius: 20px;
}

.navigation{
    top: 0.8vw;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav{
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(7px);
    padding: 1.7vw;
    border-radius: 1.5vw;
    text-align: center;
    position: sticky;
    
}

a{
    padding: 3vw;
    color: rgb(0, 56, 77);
    text-decoration: none;
    font-family: "Barlow";
}

.sec2 {
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    margin-top: -4vw;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    overflow: hidden;
    font-family: "Barlow";
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec2Img, .sec2text {
    flex: 1; 
    padding: 20px;
    height: 10vw;
}

.sec2Img {
    width: 100%;
    height: auto;
}

